extends layout
block scripts
 script(src='/javascripts/writer.js')
block title
  h1
   a(href="/") NooliteF
   span &nbsp; /
   a(href="/noolitef/#{str}?name=#{track}&chanel=#{chanel}") !{track} !{hex_answer}
   span &nbsp; Уровень включения диммера
block content
       form.bord(action="#")
         ul.dev
          li
           input.level(name="level_dimmer", type="number", min=0, max=256, value=0)
         button.sender2(type="submit") Сохранить
       .json#writer {
         span.slovo#status статутс :
         span.writer#json_status ,
         span.slovo#chanel канал :
         span.writer#json_chanel
         span }