extends layout
block title
  h1
   a(href="/")= title
block content
  ul.dev
   for one, index in arr
    if one
     li
      a(href = "/noolitef/#{arr_chanel[index]}/#{one}?params=#{arr_name[index]}")
       &nbsp;
       b= arr_name[index]
      &nbsp;&nbsp;
      span= one
      &nbsp;&nbsp;
      a(href = "/bind/#{one}/unbind") &times;
  ul.dev
   li
     a(href = "/bind") Подключить новое устройство
   li
     a(href="/devices/") Найти подключенные устройства
