extends layout
block title
  h1
   a(href="/")= title
block content
  ul.dev
   for one, index in arr
    if one
     li
      a(href = "/noolitef/#{one}?chanel=#{arr_chanel[index]}&name=#{arr_name[index]}")
       &nbsp;
       b= arr_name[index]
      &nbsp;&nbsp;
      span= one
      &nbsp;&nbsp;
      a(href = "/bind/#{one}/unbind") &times;
  ul.dev
   li
     a(href="/devices/") Найти привязанные устройства
   li
     a(href = "/bind") Привязать новое устройство

