extends layout
block scripts
 script(src='/javascripts/writer.js')
block title
  h1
   a(href="/") NooliteF
   span &nbsp; /
   a(href="/noolitef/#{str}?name=#{track}&chanel=#{chanel}") !{track} !{hex_answer}
   span &nbsp; Выключить
block content

  .json#writer {
   span.slovo#status статутс :
   span.writer#json_status ,
   span.slovo#chanel канал :
   span.writer#json_chanel
   span }