extends layout
block title
  h1
   a(href="/") NooliteF
   span &nbsp; / !{track} !{hex_answer}
block content
   div.main
    div.container
     div(class="row")
      div(class="col-md-3")
       h2 Управление
       ul.dev
        li
         a(href = "/noolitef/cmd/#{str}/on?name=#{track}&chanel=#{chanel}") Включить
        li
         a(href = "/noolitef/cmd/#{str}/off?name=#{track}&chanel=#{chanel}") Выключить
        li
         a(href = "/noolitef/cmd/#{str}/switch?name=#{track}&chanel=#{chanel}") Переключить
        li
         a(href = "/noolitef/cmd/#{str}/dimmer?name=#{track}&chanel=#{chanel}") Димировать
        li
         a(href = "#") Включить на время
      div(class="col-md-3")
       h2 Настройки
       if track == 'Реле/диммер SUF-1-300'
        span.service для SUF-1-300
        ul.dev
         li
          a(href = "/noolitef/settings/#{str}/base?name=#{track}&chanel=#{chanel}") Базовые настройки
         li
          a(href = "/noolitef/settings/#{str}/dimmer_level?name=#{track}&chanel=#{chanel}") Уровни димирования
         li
          a(href = "/noolitef/settings/#{str}/dimmer_level_on?name=#{track}&chanel=#{chanel}") Уровень включения диммера
         li
          a(href = "/noolitef/settings/#{str}/retranslate?name=#{track}&chanel=#{chanel}") Задержка ретрансляции
       else
        span.service для SRF-1-3000, SRF-1-3000-M, SRF-10-1000
        ul.dev
         li
          a(href = "/noolitef/settings/#{str}/base_srf?name=#{track}&chanel=#{chanel}") Базовые настройки
      div(class="col-md-3")
       h2 Информация
       ul.dev
        li
         a(href="/noolitef/info/#{str}/status?name=#{track}&chanel=#{chanel}") Состояние
        li
         a(href="/noolitef/info/#{str}/more?name=#{track}") Дополнительная информация
        li
         a(href="/noolitef/info/#{str}/memory?name=#{track}") Память устройства
        li
         a(href="/noolitef/info/#{str}/settings?name=#{track}") Настройки
        li
         a(href="/#{str}/info/dimer_levels?name=#{track}") Уровни димирования
         span.service минимум, максимум
        li
         a(href="/noolitef/info/#{str}/start_level?name=#{track}") Уровнень включения диммера
        li
         a(href="/noolitef/info/#{str}/retlanslator?name=#{track}") Задержка ретрансляции Noolite
      div(class="col-md-3")
       h2 Сервис
       ul.dev
        li
         a(href = "/bind/#{str}/unbind", target="_blank") Отвязать от MTRF
         span.service необходимо включить сервисный режим
        li
         a(href = "#", target="_blank") Очистить память от устройств Noolite
        li
         a(href = "/service/#{str}", target="_blank") Включить сервисный режим
        li
         a(href = "/service/#{str}/off", target="_blank") Выключить сервисный режим

